<p id="notice"><%= notice %></p>

<h1>Albums</h1>

<table class='table'>
  <thead>
    <tr>
      <th>Artist</th>
      <th>Name</th>
      <th>Year</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @albums.each do |album| %>
      <tr>
        <td><%= album.artist %></td>
        <td><%= album.name %></td>
        <td><%= album.year %></td>
        <td><%= link_to 'Show', album , class: 'btn btn-primary'%></td>
        <td><%= link_to 'Edit', edit_album_path(album) , class: 'btn btn-warning'%></td>
        <td><%= button_to 'Destroy', album, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Album', new_album_path %>
